#blue1 {
    background-color: rgb(25, 25, 112);
     color: white;
}

#blue2 {
    background-color: rgb(0, 0, 128);
     color: white;
}

#blue3 {
    background-color: rgb(31, 81, 255);
    color: white;
}

#blue4 {
    background-color: rgb(100, 149, 237);
     color: white;
}

#blue5 {
    background-color: rgb(89, 163, 238);
     color: white;
}

#blue6 {
    background-color: rgb(106, 174, 242);
}

#blue7 {
    background-color: rgb(121, 182, 242);
}

#blue8 {
    background-color: rgb(182, 217, 253);
}

#blue9 {
    background-color: rgb(121, 182, 242);
}

#blue10 {
    background-color: rgb(121, 182, 242);
}